footer{
  background-color: var(--yellow);
  padding-top: 100px;
  padding-bottom: 102px;
  color: var(--text-color);
  width: 100%;
}

.footer{
  display: flex;
  justify-content: space-between;
}

.footer-privacy-agreement{
  max-width: 238px;
}

.footer-privacy__title{
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
  margin-bottom: 44px;
}

.footer-privacy{
  margin-bottom: 36px;
  color: var(--footer-privacy-agreement);
}

.footer-agreement{
  color: var(--footer-privacy-agreement);
}

.footer-nav{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-nav__item{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.footer-social{
  display: flex;
  gap: 31px;
  margin-bottom: 20px;
}

.footer-social__youtube-icon, .footer-social__vk-icon, .footer-social__fb-icon, .footer-social__inst-icon{
  cursor: pointer;
}

.footer-social-mail{
  display: flex;
  flex-direction: column;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.footer-button-number{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.footer__button-wrapper {
  width: 250px;
  height: 44px;
}

.footer__button {
  background: var(--yellow);
  color: var(--text-color);
  width: 100%;
  height: 100%;
  border: 1px solid var(--text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.footer__number{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-decoration: 2px underline;
  text-underline-offset: 4px;
}

.footer__button-wrapper-mobile {
  display: none;
}

@media (max-width: 930px){
  .footer{
    flex-direction: column;
    align-items: center;
  }

  footer{
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .footer-privacy-agreement{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .footer-privacy, .footer-agreement{
    text-align: center;
  }

  .footer-privacy__title, .footer-privacy{
    margin-bottom: 20px;
  }

  .footer-nav{
    align-items: center;
    margin-bottom: 30px;
  }

  .footer-social{
    margin-bottom: unset;
  }

  .footer-social-mail{
    margin-bottom: 30px;
  }
}

@media (max-width: 320px){
  .footer__number, .footer__button-wrapper{
    display: none;
  }

  .footer-privacy__title{
    margin-bottom: 36px;
  }

  .footer-privacy{
    margin-bottom: 18px;
  }

  .footer-privacy, .footer-agreement{
    color: var(--text-color);
    font-weight: 500;
  }

  .footer-privacy-agreement, .footer-nav, .footer-social-mail{
    margin-bottom: 46px;
  }

  .footer-social{
    margin-bottom: 20px;
  }

  .footer__button-wrapper-mobile {
    display: block;
    width: 292px;
    height: 60px;
  }

  .footer__button-mobile {
    background: var(--yellow);
    color: var(--text-color);
    width: 100%;
    height: 100%;
    border: 1px solid var(--text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
  }
}