.form {
  padding: 122px 16px 105px;
  color: var(--text-color);
  max-width: calc(727px + 32px);
  width: 100%;
  margin: 0 auto;
}

.form-title {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;
}

.form-subtitle {
  margin-bottom: 47px;
}

.form-name-number {
  display: flex;
  margin-bottom: 64px;
  gap: 70px;
}

.form-region-city {
  display: flex;
  margin-bottom: 7px;
}

.form-name, .form-number, .form-region, .form-city, .form-add-city {
  max-width: 300px;
  width: 100%;
  border-bottom: 1px solid var(--text-color);
  height: 34px;
}

.form-region {
  border: none;
  border-bottom: 1px solid var(--text-color);
  font-family: "Montserrat", sans-serif;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
}

.form-region__wrapper {
  margin-right: 70px;
  max-width: 300px;
  width: 100%;
}

.form-name, .form-number, .form-region, .form-city, .form-add-city:focus {
  outline: none;
}

.form-city {
  margin-bottom: 30px;
}

.form-region__title, .form-city__title, .form-method__title, .form-service__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 34px;
}

.form-service__title-arrow {
  position: relative;
}

.form-service__arrow {
  position: absolute;
  top: 10px;
  left: 283px;
  transform: translate(-50%, -50%);
}

.form-method__wrapper {
  display: flex;
  gap: 40px;
  margin-bottom: 63px;
}

.form-check, .form-check__service, .form-check__agreement {
  display: flex;
  align-items: center;
  gap: 16px;
}

.form-check-box__service-text {
  font-size: 12px;
}

.form-checkbox, .form-checkbox__service, .form-checkbox__agreement {
  position: absolute;
  -webkit-appearance: none;
}

.form-checkbox:checked + .form-check-box {
  background-image: url(../assets/form/radio-on.svg);
}

.form-checkbox__service:checked + .form-check-box__service {
  background-image: url(../assets/form/checkbox-on.svg);
}

.form-checkbox__service:hover + .form-check-box__service {
  background-image: url(../assets/form/checkbox-focus.svg);
}

.form-checkbox__service:focus + .form-check-box__service {
  background-image: url(../assets/form/checkbox-focus.svg);
}

.form-checkbox__service:checked:focus + .form-check-box__service {
  background-image: url(../assets/form/checkbox-on.svg);
}

.form-checkbox__agreement:checked + .form-check-box__agreement {
  background-image: url(../assets/form/agreement-on.svg);
  border: none;
}

.form-service__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 72px;
}

.form-check-box__service {
  width: 24px;
  height: 24px;
  background-image: url(../assets/form/checkbox-off.svg);
}

.form-check-box__agreement {
  width: 15px;
  height: 15px;
  background-color: var(--white);
  border: 2px solid var(--text-color);
  border-radius: 10%;
}

.form-check-box {
  width: 24px;
  height: 24px;
  background-image: url(../assets/form/radio-off.svg);
}

.form-timer-button {
  display: flex;
  align-items: center;
  gap: 65px;
}

.form-timer {
  font-size: 96px;
}

.form-title__mobile, .form-button-mobile {
  display: none;
}

.form-button {
  background: var(--button-main);
  width: 100%;
  height: 100%;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: var(--light-gray);
  position: relative;
  cursor: pointer;
  margin-bottom: 12px;
}

.form-button-wrapper {
  position: relative;
  width: 304px;
  height: 60px;
}

.form-button-wrapper button {
  width: 100%;
}

.form-button-wrapper:hover .form-button {
  background-color: var(--header-button-wrapper-hover);
}

.form-button-wrapper:hover::before {
  background-color: var(--light-gray);
}

.form-button-wrapper::before {
  content: "";
  position: absolute;
  border: 2px solid var(--yellow);
  width: 304px;
  height: 60px;
  top: 10px;
  left: 10px;
}

.form-service__title-arrow {
  display: flex;
}

.form-btn-check {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

@media (max-width: 850px) {
  .form-button-wrapper:before {
    content: none;
  }

  .form-button-wrapper {
    margin-bottom: 0;
  }

  .form-btn-check {
    gap: 14px;
  }
}

@media (max-width: 800px) {
  .form-timer-button {
    gap: 20px;
    justify-content: space-around;
  }

  .form-check__service-wrapper {
    margin-right: 65px;
  }
}

@media (max-width: 730px) {
  .form-timer {
    font-size: 70px;
  }

  .form-check__service-wrapper {
    justify-content: center;
    margin-right: auto;
  }
}

@media (max-width: 700px) {
  .form-name-number {
    flex-direction: column;
    gap: 35px;
  }

  .form-check-box{
    width: 35px;
    background-repeat: no-repeat;
  }

  .form-name, .form-number {
    max-width: 900px;
    width: 100%;
  }
}

@media (max-width: 655px) {
  .form-region-city {
    flex-direction: column;
  }

  .form-city__wrapper {
    display: flex;
    flex-direction: column;
  }

  .form-region__title, .form-city__title {
    margin-bottom: 0;
  }

  .form-region__wrapper, .form-name-number, .form-city__wrapper {
    margin-bottom: 35px;
  }

  .form-region, .form-add-city, .form-region__wrapper {
    max-width: 900px;
    width: 100%;
  }

  .form-region {
    margin-bottom: 0;
  }

  .form-timer{
    font-size: 45px;
  }
}

@media (max-width: 550px) {
  .form {
    padding: 62px 16px 70px;
  }

  .form-title, .form-region-city, .form-method__title, .form-method__wrapper, .form-service__title, .form-service__wrapper, .form-timer {
    display: none;
  }

  .form-title__mobile {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .form-subtitle {
    text-align: center;
    font-size: 15px;
    margin-bottom: 50px;
  }

  .form-name-number {
    align-items: center;
    margin-bottom: 60px;
  }

  .form-timer-button {
    flex-direction: column;
  }

  .form-check-box__text-mobile {
    display: block;
  }
  
  .form-button{
    display: none;
  }

  .form-button-mobile {
    display: block;
    background: var(--button-main);
    width: 100%;
    height: 100%;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--light-gray);
    position: relative;
    cursor: pointer;
    margin-bottom: 12px;
  }
}