.prices {
  color: var(--text-color);
  padding-top: 52px;
  padding-bottom: 51px;
}

.prices__title {
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.prices__subtitle {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 65px;
}

.prices-items {
  display: flex;
  justify-content: space-evenly;
  gap: 25px
}

.prices-card {
  border: 1px solid var(--card-border);
  max-width: 350px;
  width: 100%;
  padding: 84px 10px 78px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prices-card:hover {
  border: 1px solid var(--yellow);
  box-shadow: 0 12px 24px var(--card-shadow);
  transition: all 0.3s ease;
}

.prices-card__title {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 60px;
}

.prices-card__description {
  margin-bottom: 60px;
  line-height: 21px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.prices-card__price {
  margin-bottom: 52px;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
}

.prices-card__button-wrapper {
  max-width: 250px;
  width: 100%;
  height: 51px;
}

.prices-card__button-wrapper:hover {
  box-shadow: 0 4px 24px var(--yellow);
  transition: all 0.3s ease;
}

.prices-card__button {
  background: var(--yellow);
  width: 100%;
  height: 100%;
  border: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.prices-card__button:hover {
  color: var(--white);
  transition: all 0.3s ease;
}

.prices-card-mobile {
  display: none;
}

@media (max-width: 853px) {
  .prices-items {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 425px) {
  .prices__subtitle, .prices-card {
    display: none;
  }

  .prices__title {
    margin-bottom: 40px;
  }

  .prices {
    padding: 50px 0 50px;
    background-color: var(--prices-mobile-bg);
  }

  .prices-card-mobile {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .prices-card__title-mobile {
    font-size: 20px;
    line-height: 21px;
    font-weight: 500;
    margin-bottom: 27px;
  }

  .prices-card__description-mobile {
    margin-bottom: 44px;
    line-height: 21px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .prices-card__price-mobile {
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
  }

  .prices-card__button-wrapper-mobile {
    max-width: 250px;
    width: 100%;
    height: 51px;
    margin-bottom: 20px;
  }

  .prices-card__button-mobile {
    background: var(--yellow);
    width: 100%;
    height: 100%;
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
  }

  .prices-card__button-mobile:hover{
    color: var(--white);
    transition: all 0.3s ease;
  }

  .prices-card__button-wrapper-mobile:hover {
    box-shadow: 0 4px 24px var(--yellow);
    transition: all 0.3s ease;
  }

  .prices-card__link {
    text-decoration: underline;
    text-underline-offset: 3px;
    font-weight: 500;
  }
}