.process {
  color: var(--text-color);
  padding: 95px 0 104px;
}

.process__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 60px;
  text-align: center;
}

.process-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 108px 108px;
  row-gap: 50px;
  column-gap: 130px;
  align-content: start;
  padding: 0 60px;
}

.process-item {
  display: grid;
  grid-template-columns: 93px auto;
}

.process-number {
  max-width: 66px;
}

.process-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px;
}

.process-subscription {
  line-height: 21px;
}
