:root {
    --yellow: #FED100;
    --text-color: #333333;
    --button-main: #FF352B;
    --light-gray: #F2F2F2;
    --phone-logo-wrapper: #3D9BE9;
    --phone-logo: rgba(61, 155, 233, 0.3);
    --header-button-wrapper-hover: #FF772B;
    --card-border: #EBEBEB;
    --prices-mobile-bg: #F8FBFF;
    --card-shadow: rgba(0, 0, 0, 0.15);
    --white: #FFFFFF;
}